<header style="background-color: black;color:white;padding: 10px;">

    <h3>Hemos recibido tu solicitud y estamos asigando tu requerimiento. </h3>
    
    </header>
    
    <article>
        <p>Para tener una mayor información de nuestro equipo y áreas a las que prestan soporte, ingresa al siguiente link:</p>
        <a href="https://www.accenture.com/cl-es">Chile legal-Santiago</a>
    </article>
    
    <footer style="background-color: black;color:white; padding: 10px;">
     Accenture
    </footer>